@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: 'Montserrat', sans-serif;
  /* src: url("https://fonts.cdnfonts.com/css/termina-test") format("opentype"); */
  font-display: swap;
}
@font-face {
	font-family: 'DrukText';
	src: url('../fonts/DrukText-Super-Trial.otf');
	src:url('../fonts/DrukText-Medium-Trial.otf');
	/* src:url('../fonts/DrukWide-Bold-Trial.otf') */
	/* src:url('../fonts/DrukTextWide-Heavy-Trial.otf') */
	font-display: swap;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }
}
body {
	font-family: 'Montserrat', sans-serif;  
  color: #333333;
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}


/*=== Style Guide ===*/
/* Standard elements must be defined here */

@layer components {
	.stdInput{
		@apply bg-gray-50 border border-gray-300 text-gray-900
		sm:text-sm rounded-r-sm 
		focus:ring-blue-500 
		focus:bg-white
		focus:outline-none
		focus:drop-shadow-[0_0px_5px_rgba(0,0,255,0.4)]
		block w-full p-2.5
	  }
	  .stdInput2{
		@apply shadow border   py-2.5  pl-12 block w-full border-gray-200 rounded-md 
		text-sm focus:border-blue-500 focus:ring-blue-500  lg:py-2.5
		dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 
		focus:outline-slate-200
		text-lightGray 
		/* focus:drop-shadow-[0_0px_5px_rgba(0,0,255,0.4)] */
	  }
	   
	   .insideIcon{
		@apply absolute inset-y-0  text-sm left-0 flex items-center pl-5 pointer-events-none
	   }
	   /* .blogForm{
		@apply border-gray-300
	   } */
	   .stdBtn{
		  @apply w-full text-white bg-blue-600
		  hover:bg-white  focus:outline-none focus:ring-0
		  hover:text-black hover:shadow hover:border  font-bold
		  rounded-lg text-lg px-5 py-2.5 text-center mb-3 
		  
	   }
	   .otpBtn{ 
		@apply w-48 mx-auto text-white bg-blue-600
		   focus:ring-4 focus:outline-none 
		   font-medium rounded-lg text-sm px-5 
		  py-2.5 text-center  
		  hover:bg-white hover:text-black hover:shadow hover:border
		}
	   .active{
		@apply text-red-500 bg-blue-400 !important
	   }
	   /* .menuText{
		@apply block py-2 pl-3 pr-4 text-gray-900 rounded md:bg-transparent md:text-gray-700  md:hover:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500
	   } */
	   .label{
		@apply block text-gray-700 font-semibold 
	   }
	   .formWrapper{
		@apply flex flex-col mx-auto border-t-4 border-blue-500 my-8  px-6 
		lg:px-16 xl:px-8 items-center justify-center sm:w-1/4 md:w-1/2 xl:w-2/3 
		bg-white shadow-xl py-10
	   }
	   .errorMsg{
		@apply text-red-700
	   }
	   
	   .otpInputBox>div>input{
		/* @apply w-full mr-10 rounded-xl px-4 border mx-auto text-red-600 */
		@apply text-black border  mx-auto w-7 !important
	   }
	   .picBack{
		@apply border-dashed
		bg-white
		h-64
	  }
	  .fileInput{
		@apply  absolute top-0 left-0
	  }
	  .toggleEye{
		@apply absolute text-sm text-gray-200
	  }
	  .sidebarLink{
		@apply hover:bg-gray-300 w-full py-2 px-2 hover:text-white hover:font-semibold
	  }
	  .h1{
		@apply font-bold text-black text-5xl	leading-10
	  }
	 
	
	
	.block-wrapper{
	  @apply p-5 md:p-20 h-auto 
	}
	
	/* .blockTitle{
	  @apply text-center font-bold sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl xxl:text-6xl
	} */
	.image-wrapper{
	  @apply w-auto object-cover
	}
	.image-class{
	  @apply object-cover w-full h-full top-0 left-0 rounded-xl
	}
	.content-wrapper{
	  @apply h-auto text-justify my-auto text-lg lg:text-xl  
	}
	
	.gridWrapper{
	  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 rounded-lg mt-5 md:mt-10 
	}
	.addIcon{
	  @apply mx-auto   ml-6  text-2xl text-gray-400 rounded my-auto
	}
	
	.addListWrapper{
	 @apply w-full h-32 text-sm xxl:text-lg text-gray-700 font-normal 
	}
	
	.formInput{
	  @apply py-3 px-3 block w-full border border-gray-200 rounded-md text-sm  focus:outline-none bg-formColor
	 }
	
	 .formLabel{
	  @apply block text-sm font-medium dark:text-white
	 }
	 .submitBtnForm{
	  @apply bg-darkBlue py-1 px-8 rounded-md border border-transparent font-bold float-left
			 text-white hover:border-white hover:text-white hover:bg-blue-600 focus:outline-none py-0  transition-all text-sm  sm:p-4
	 } 
	 .select {
	  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
	 }
	

}
.swal2-title{
	@apply bg-blue-500
}
.swal2-confirm{
	@apply bg-blue-500
}
/* ///////////////// */
.hexcontainer  {
  /* width: 680px; */
  height: 680px;
  margin-left: 20px;
}

.hex {
  display: inline-block;
  filter: url('#goo');
  /* width: 30%; */
  /* color: white; */
  width: 36%;
  /* position: absolute; */
}

.hex::before {
  content: "";
  display: block;
  /* background: currentColor; */
  /* padding-top: 86.6%; */
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  box-shadow: 2px 2px 8px 3px #dad6d6;

}
.pos0 {
  top: 0%;
  left: 30%;
}

.pos1 {
  top: 17%;
  left: 0%;
}

.pos2 {
  top: 17%;
  left: 60%;
}

.pos3 {
  top: 34%;
  left: 30%;
}
.pos3:hover {
  animation: spin 4s linear infinite; /* Replace '1s' with the duration you desire */
}
.pos3:hover::before {
  animation: spin-4s 4s linear infinite; /* Adjust the duration as needed */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-4s {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pos4 {
  top: 51%;
  left: 0%;
}

.pos5 {
  top: 68%;
  left: 30%;
}

.pos6 {
  top: 51%;
  left: 60%;
}









.mainOuterCircle{
	height: 841px;
	/* padding:50px;
	width: 841px; */
	/* position: absolute; */
	/* margin-left: 17%; */
	border-radius: 100% 100%;
	margin-top: -100px;
	border:2px dashed #dddddd;
	cursor: pointer;
}
.mainInnerCircle{
	height: 786px;
	padding:50px;
	width: 786px;
	position: absolute;
	margin-left: -2%;
	border-radius: 100% 100%;
	margin-top: -23px;
	border:2px dashed #dddddd;
	cursor: pointer;
}
.Animatedcircle{
	width:45px;
	height:45px;
	background: #376bff;
	border-radius:100% 100%;
	position:absolute;
	top:0; bottom:0; left:0;right:0;
	overflow:hidden;
	margin:auto;
	animation: circle 9s linear infinite;
}
@keyframes circle{
	0%{
		transform:
			rotate(0deg)
			translate(-165px)
			rotate(0deg);  
	}
	100%{
		transform:
			rotate(360deg)
			translate(-165px)
			rotate(-360deg);
	}
}
.animatedHexagon{
	width:30px;
	height:27px;
	position:absolute;
	top:0px; bottom:0; left:0;right:0;
	overflow:hidden;
	margin:auto;
	z-index: 999;
	animation: circle1 54s infinite linear;
}
@keyframes circle1{
	0%{
		transform:
			rotate(0deg)
			translate(-420px)
			rotate(0deg);  
	}
	100%{
		transform:
			rotate(360deg)
			translate(-420px)
			rotate(-360deg);
	}
}
/* @keyframes Circulate{
	0%{
		transform:
			rotate(0deg)
			translate(-265px)
			rotate(0deg);  
	}
	100%{
		transform:
			rotate(360deg)
			translate(-265px)
			rotate(-360deg);
	}
} */
.animatedHexagon2{
    width:30px;
    height:27px;
    position:absolute;
    top:0px; bottom:0; left:0;right:0;
    overflow:hidden;
    margin:auto;
    z-index: 100;
    animation: Circulate2 54s infinite linear;
}
@keyframes Circulate2{
	from{
		transform:
			/* starting position offset */
			rotate(-20deg)
			/* half circle size + .5px(for precision) */
			translate(390.5px)
			/* how much the icon should rotate as it goes around */
			rotate(-40deg);
	}
	to{
		transform:
			/* full circle rotation: 360 + 20 offset */
			rotate(-380deg)
			/* half circle size + .5px(for precision) */
			translate(390.5px)
			/* how much the icon should rotate as it goes around */
			rotate(-40deg);
	}
}

.animatedCircle{
    width:30px;
    height:27px;
    position:absolute;
    top:116px; bottom:0; left:0;right:0;
    overflow:hidden;
    margin:auto;
    z-index: 100;
    /* animation: Circulate 10s infinite linear; */
}
.animatedCircle1Animation{
	width:30px;
    height:27px;
    position:absolute;
    top:0px; bottom:0; left:0;right:0;
    overflow:hidden;
    margin:auto;
    z-index: 100;
    animation: Circulate1 10s infinite linear;
}
@keyframes Circulate1{
	from{
        transform:
            /* starting position offset */
            rotate(270deg)
            /* half circle size + .5px(for precision) */
            translate(-58.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-10deg);
    }
    to{
        transform:
            /* full circle rotation: 360 + 20 offset */
            rotate(630deg)
            /* half circle size + .5px(for precision) */
            translate(-58.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-10deg);
    }
}
.animatedCircle2{
    width:34px;
    height:34px;
    position:absolute;
    top:-120px; bottom:0; left:0;right:0;
    overflow:hidden;
    margin:auto;
    z-index: 100;
    /* animation: reverseRotation 10s infinite linear; */
}
.animatedCircle2Animation{
	width:34px;
    height:34px;
    position:absolute;
    top:0px; bottom:0; left:0;right:0;
    overflow:hidden;
    margin:auto;
    z-index: 100;
    animation: reverseRotation 10s infinite linear;
}
@keyframes reverseRotation {
    from {
        transform:
            /* starting position offset */
            rotate(90deg)
            /* half circle size + .5px(for precision) */
            translate(-58.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
    to {
		transform:
            /* full circle rotation: 360 + 20 offset */
            rotate(450deg)
            /* half circle size + .5px(for precision) */
            translate(-58.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
        
    }
}

.rotateCircleBlk1{
    width:34px;
    height:34px;
    position:absolute;
    top:-120px; bottom:0; left:0;right:0;
    overflow:hidden;
    margin:auto;
    z-index: 100;
    animation: reverseRotationBlk1 10s infinite linear;
}
@keyframes reverseRotationBlk1 {
    from {
        transform:
            /* full circle rotation: 360 + 20 offset */
            rotate(380deg)
            /* half circle size + .5px(for precision) */
            translate(-62.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
    to {
        transform:
            /* starting position offset */
            rotate(20deg)
            /* half circle size + .5px(for precision) */
            translate(-62.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
}
.rotateCircle2Blk1{
    width:34px;
    height:34px;
    position:absolute;
    top:-120px; bottom:0; left:0;right:0;
    overflow:hidden;
    margin:auto;
    z-index: 100;
    animation: Rotation2Blk1 10s infinite linear;
}
@keyframes Rotation2Blk1 {
    from {
        transform:
            /* starting position offset */
            rotate(20deg)
            /* half circle size + .5px(for precision) */
            translate(-62.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
    to {
        transform:
            /* full circle rotation: 360 + 20 offset */
            rotate(380deg)
            /* half circle size + .5px(for precision) */
            translate(-62.5px)
            /* how much the icon should rotate as it goes around */
            rotate(-40deg);
    }
}
 .dash1{
	height: 1px;
    width: 20px;
    /* border: 3px solid #376bff; */
	border: 2px ;
	border-style: solid;	
    border-radius: 10px;
}
.dash2{
	height: 2px;
    width: 50px;
    margin-left: 2px;
    /* border: 3px solid #376bff; */
	border: 2px ;
	border-style: solid;	
    border-radius: 10px;
}
.dash3{
	height: 2px;
    width: 20px;
    margin-left: 2px;
    border: 2px ;
	border-style: solid;	
    border-radius: 10px;
}

/* .BlockTitle{
	font-size: 40px;
	text-align: center;
	
} */
/* .title{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
} */
/* .subTitle{
	font-weight: normal;
	font-size: 24px;
} */
/* .bodyTxt{
	font-weight: 500;
	font-size: 24px;
} */
.smTxt{
	font-weight: 500;
	font-size: 20px;
}

a {
	@apply underline text-blue-600
 }
 .blogContent a{
	color:blue !important
 }
 .blogContent p{
	line-height: 2.2;
 }
 .blogContent h1{
	font-size: 36px;
 }
 .blogContent h2{
	font-size: 32px;
 }
 .blogContent h3{
	font-size: 24px;
 }
 .blogContent p, .blogContent li{
	font-size: 20px;
	line-height: 1.8;
 }
 .blogContent::first-letter {
	float: left;
    font-size: 1.875em;
    width: 55px;
    height: 55px;
    line-height: 55px;
     margin-right: 30px;
    font-weight: 800;
    text-align: center;
    margin-top: 8px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #3224e9; 
	padding:10px 20px;
	box-shadow: 7px 5px 30px 0px rgb(72 73 121 / 15%);
  }
 .outline-title {
	color: rgba(0, 0, 0, 0);
	-webkit-text-stroke: 1px white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
  }
  

  .formIcon{
	@apply absolute border-r inset-y-0 left-0 flex items-center pl-5 pointer-events-none text-lightGray
   }
   .addIconWrapper{
	@apply rounded  w-16 h-14  pt-3  
  }
  .addDetailContent{
	@apply mt-5 text-xl lg:text-4xl text-left font-bold
  }
  .formInput{
	@apply py-3 pl-8 px-12 block w-full border border-light rounded-md text-sm  focus:outline-none
   }
   .formInput2{
	@apply py-2 pl-16 px-12 block w-full border  border-lightGray rounded-md text-sm  focus:outline-none
   }
   .submitBtnForm{
	@apply py-1 px-8 rounded-md border border-transparent font-bold border-white text-white bg-submitBtn hover:bg-blue-600 focus:outline-none py-0  transition-all text-sm xl:text-xl sm:p-4
   } 
.iconWrapper{
	@apply shadow-[0_3px_10px_rgb(0,0,0,0.2)] p-4
}

.BlockTitle{
	@apply text-2xl md:text-3xl xl:text-4xl 2xl:text-4xl leading-[6rem]
}
.title{
	@apply text-lg md:text-xl lg:text-2xl xl:text-[28px] 2xl:text-[30px] font-bold leading-relaxed
}
.subTitle{
	@apply text-lg md:text-2xl xl:text-xl 2xl:text-3xl
}
.bodyTxt{
	@apply  text-lg md:text-2xl xl:text-xl leading-relaxed
}
.slideleft {
	animation: infinite-scroll 10s linear infinite;
  }
  
  @keyframes infinite-scroll {
	from {
	  transform: translateX(0);
	}
	to {
	  transform: translateX(-100%);
	}
  }
  .slideRight {
	animation: rightScroll 10s linear infinite;
  }
  @keyframes rightScroll {
	from {
	  transform: translateX(-100%);
	}
	to {
	  transform: translateX(0);
	}
  }
  .noAnimation{
	/* -webkit-animation: none !important; */
	animation: none !important;
	transform: none !important;
  }
  



  .solar-system {
	position: relative;
	width: 780px;
	height: 780px;
	margin: auto;
	overflow: hidden;
  }
  
  /* Some positioning rules that are common for all objects */
  .orbit {
	border: 1px dashed #666;
  }
  
  #sun,
  .orbit,
  .orbit + div,
  .orbit + div > div {
	position: absolute;
  }
  
  #sun,
  .orbit,
  .orbit + div {
	top: 50%;
	left: 50%;
  }
  .orbit + div > div {
	top: 0;
	left: 50%;
  }
  
  .orbit,
  .orbit + div div,
  #earth {
	border-radius: 50%;
  }
  
  
  #sun {
	/* Positions the top-left corner of the image to be *
	  /* in the middle of the box */
	height: 200px;
	width: 200px;
	background-color: #fae20a;
	margin-top: -100px;
	margin-left: -100px;
	border-radius: 50%;
	box-shadow: 0 0 84px orange;
  }
  
  
  #mars {
	margin-top: -16px;
	margin-left: -16px;
	height: 32px;
	width: 32px;
	background-color: #863222;
	box-shadow: 0 0 14px #a64232;
  }
  
  .mars-orbit,
  .mars-spin {
	width: 700px;
	height: 700px;
	margin-left: -350px;
	margin-top: -350px;
  }
  
  /* Spinning animations */
  
  @keyframes spin-right {
	100% {
	  transform: rotate(360deg);
	}
  }
  
  
  .mars-spin {
	animation: spin-right 68.7s linear infinite;
  }
  input::placeholder {
	font-weight: 600;
	font-size: 14px;
  }
  textarea::placeholder {
	font-weight: 600;
	font-size: 14px;
  }
  .contactFile{
	opacity: 10;
	width: 10px;
	height: 10px;
  }
  .menuBg{
	background-color: #000;
	opacity: 0.5;
  }
  .submitBtn{
	background-color: #283593 !important;	
  }
  .submitBtn:hover{
	background-color:#3979f0 !important;
	color:#fff !important;
  }
  .activeMenu{
	color:#376bff;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;	
	/* box-shadow: rgba(0,_0,_0,_0.24)_0px_3px_8px; */
	background-color: #376bff;
  }
  .activeSubMenu{
	color:#376bff;
  }
  .activeMenuImg{
	background-color: #376bff;
   }
  .mainMenuActive{
	@apply underline decoration-2 underline-offset-8
}


@keyframes scroll {
	0% {
	  left: 0;
	}
	100% {
	  left: -100%;
	}
  }
  
  .animate {
	animation: scroll 15s linear infinite forwards;
  }
  
  .breakWord{
	word-break: break-word;
  }


  .techWrapper{
	display:flex;
	flex-flow: row wrap;
	justify-content:center;
	align-content:center;
	align-items:center;
	/* border: 2px solid black; */
	/* max-width:360px; */
	}


.techWrapperImg{
	/* min-width: 120px;
	max-width: 120px;
	min-height: 120px;
	max-height: 120px; */
	flex: 0 1 auto;
	align-self:center;
	}

.blogHImg::before{	
		opacity: 0;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		z-index: 2;
		background-color: rgba(40, 40, 40, 0.5);
		transition: opacity 0.3s;
		width: 100%;
		height: 100%;	
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
}
.blogHImg:hover:before{
	opacity: 1;	
cursor: pointer;}
.diamond-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
  }

  .diamond-list li {
	position: relative;
	/* display: inline-block; */
	margin-right: 1em; /* Adjust as needed */
	padding-left: 1em; /* Adjust as needed */
  }

  .diamond-list li::before {
	content: '';
    position: absolute;
    top: 11px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.2em 0.3em 0.3em 0.2em;
    border-color: blue;
    transform: rotate(45deg);
    transform-origin: 50% 44%;
  }
.mainShareBtn{
	/* position: fixed; */
	right: 51px;
    bottom: 6px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    z-index: 1000;
    margin-top: 10px;
	
}
  .sharebtn {
	/* position: fixed; */
    /* right: 34px; */
    bottom: 34px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    z-index: 1000;
	/* @apply relative flex z-10 bg-white border rounded-md p-2 opacity-50 hover:opacity-100 focus:outline-none focus:border-blue-400; */
  }
  .mainShareBtn:hover{
	/* height: 340px; */
  }
  .sharebtn:hover + .sharebtn-dropdown,
  .sharebtn:focus + .sharebtn-dropdown {
	display: block;
  }
  .mainShareBtn:hover .sharebtn-dropdown,
  .sharebtn:focus + .sharebtn-dropdown{
	display: block;
  }
  .sharebtn-dropdown {
	/* position: absolute; */
    height: auto;
    width: 50px;
    /* bottom: 50px; */
    left: 0;
    z-index: 1;
    text-align: center;
	/* margin-bottom: 10px; */

	/* @apply absolute right-0 mt-0 w-48 bg-white rounded-sm overflow-hidden shadow-lg z-20 hidden border border-gray-100; */
  }

  .navBar1 {
    transform: translateY(0);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}
.label2{
	@apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
}